<div (click)="logout()" class="blue-button">Log Out</div>
<div style="padding: 16px">
  <app-select-input
    [options]="[
      { label: 'Austin (AUS)', value: 'AUS' },
      { label: 'Denver (DEN)', value: 'DEN' },
      {
        label: 'Salt Lake City (SLC)',
        value: 'SLC'
      }
    ]"
    placeholder="Select an aiport..."
    (alert)="updateAirport($event)"
    [selectedValue]="selectedAirport()"
  />
</div>
<!-- <button (click)="getDealsFromOrigin('SLC')">SLC</button>
<button (click)="getDealsFromOrigin('DEN')">DEN</button> -->
@if (isLoading()) {
<div class="loader-container">
  <img class="loader" src="/assets/loader.gif" />
</div>
} @else {<app-deal-grid [deals]="deals()" />}
