<div class="footer">
  <div class="footer-inner-content">
    <div class="footer-logo-social-section">
      <img class="footer-logo" src="/assets/logo-white-text.png" />
      <div class="footer-social-desktop">
        <app-footer-social-row />
      </div>
    </div>
    <div class="footer-links-section">
      <div class="footer-link-container" *ngFor="let link of footerLinks()">
        <a class="footer-link" [routerLink]="link.routerLink">{{
          link.title
        }}</a>
      </div>
    </div>
    <div class="footer-social-mobile">
      <app-footer-social-row />
    </div>
  </div>
  <div class="copyright-bar">
    <div class="copyright-text">{{ "© 2024 All Rights Reserved |" }}</div>
    <div class="copyright-trace-text">TRACE</div>
  </div>
</div>
