<div class="planning-travels-container">
  <div class="planning-travels-inner-container">
    <img src="/assets/planning.png" class="planning-travels-image" />
    <div class="planning-travels-right-section">
      <div class="planning-travels-title">Planning any travels this year?</div>
      <div class="planning-travels-subtitle">
        Receive flight deals from all over the world up to 50% off regular
        price. Save hours of time researching where to stay, what to do, and how
        to get around. Find inspiring destinations you never thought possible
        (or affordable).
      </div>
      <a class="blue-button">Try It Free</a>
    </div>
  </div>
</div>
