.home-image-container {
  background-image: url("/assets/home-page-top-image.png");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex; /* Aligns the content horizontally */
  align-items: flex-start; /* Ensures content starts from the top */
  flex-direction: column;
}

.home-image-left-column {
  padding: 140px 0 140px 100px; /* Adjust as needed */
  width: 60%;
}

.home-image-left-body-container {
  padding: 40px 0 30px 0px;
}

.home-image-text {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  text-wrap: wrap;
}

.home-image-text-blue {
  color: var(--blue);
}

.home-image-left-body-text {
  font-weight: 300;
  color: white;
}

.bold {
  font-weight: 700;
}

.home-page-icon-row {
  background-color: white;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
}

.home-3-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 60px;
}

.home-3-card-row {
  display: flex;
  flex-direction: "row";
  margin-bottom: 60px;
  gap: 30px;
}

.home-3-card-card {
  box-shadow: 0 2px 5px #0003;
  background-color: white;
  border-radius: 30px;
  width: 180px;
  height: 240px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.home-3-card-title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

.home-3-card-body {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.home-3-card-image {
  height: 120px;
  max-width: 100%;
  margin-top: -80px;
  margin-bottom: 30px;
}

.destination-row {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.destination-image {
  width: 33%;
}

@media (max-width: 992px) {
  .home-page-icon-row {
    padding: 30px 50px;
  }
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
  .home-3-card-row {
    flex-direction: column;
    gap: 0px;
  }

  .destination-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    gap: 16px;
    padding-bottom: 30px;
  }

  .destination-image {
    width: 90%;
    border-radius: 16px;
  }

  /* .home-3-card-card {
    width: 120px;
    height: 180px;
    padding: 30px;
    margin-top: 60px;
  }

  .home-3-card-title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
  }

  .home-3-card-body {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .home-3-card-image {
    height: 80px;
    max-width: 100%;
    margin-top: -60px;
    margin-bottom: 20px;
  } */
}
