<app-navbar /><button (click)="clickShowPremiumPopup()">
  Show Premium Popup
</button>
<div class="home-image-container">
  <div class="home-image-left-column">
    <div class="home-image-left-title-container">
      <span class="home-image-text"
        >Never <span class="home-image-text-blue">overpay</span> for travel
        again</span
      >
    </div>
    <div class="home-image-left-body-container">
      <span class="home-image-left-body-text"
        ><span class="bold">Unbeatable deals</span> on top travel locations. You
        <span class="bold">save up to 90%</span></span
      >
    </div>
    <app-get-started-blue-button />
  </div>
</div>
<div class="home-page-icon-row">
  <app-orange-icon-with-orange-background imageUrl="/assets/airplane.png" />
  <app-orange-icon-with-orange-background imageUrl="/assets/bed.png" />
  <app-orange-icon-with-orange-background imageUrl="/assets/bus.png" />
  <app-orange-icon-with-orange-background imageUrl="/assets/suitcase.png" />
  <app-orange-icon-with-orange-background
    class="hide-on-mobile"
    imageUrl="/assets/earth.png"
  />
  <app-orange-icon-with-orange-background
    class="hide-on-mobile"
    imageUrl="/assets/pin.png"
  />
  <app-orange-icon-with-orange-background
    class="hide-on-mobile"
    imageUrl="/assets/car.png"
  />
  <app-orange-icon-with-orange-background
    class="hide-on-mobile"
    imageUrl="/assets/walk.png"
  />
</div>

<div class="home-3-card-container">
  <div class="home-3-card-row">
    <div class="home-3-card-card">
      <img class="home-3-card-image" src="assets/ticket.png" />
      <div class="home-3-card-title">Top Flight Deals</div>
      <div class="home-3-card-body">
        Enjoy $500+ OFF your next adventure! Discover flight deals around the
        world based out of your home airport.
      </div>
    </div>
    <div class="home-3-card-card">
      <img class="home-3-card-image" src="assets/map-and-pin.png" />
      <div class="home-3-card-title">Plan Your Journey</div>
      <div class="home-3-card-body">
        Access travel guides and personalized research, with tips and custom
        itineraries from our experts.
      </div>
    </div>
    <div class="home-3-card-card">
      <img class="home-3-card-image" src="assets/suitcase-fancy.png" />
      <div class="home-3-card-title">Book Trip</div>
      <div class="home-3-card-body">
        We ensure you get the best deal available. Once you find the deal for
        you, simply book it!
      </div>
    </div>
  </div>
  <app-get-started-blue-button />
</div>
<div routerLink="/get-started" class="destination-row">
  <img class="destination-image" src="/assets/hawaii.png" />
  <img class="destination-image" src="/assets/rome.png" />
  <img class="destination-image" src="/assets/cancun.png" />
</div>
<app-how-it-works />
<app-video-testimonials />
<app-payment-cards />
<div routerLink="/get-started" class="destination-row">
  <img class="destination-image" src="/assets/iceland.png" />
  <img class="destination-image" src="/assets/tokyo.png" />
  <img class="destination-image" src="/assets/south-africa.png" />
</div>
<div class="faq-container">
  <app-faq [importantOnly]="true" />
</div>
<app-planning-travels />
<app-footer />
<app-premium-popup
  *ngIf="showPremiumPopup()"
  (onClose)="onClosePremiumPopup()"
/>
