<div class="how-it-works-container">
  <div class="title">How it Works?</div>
  <div class="subtitle">It's as easy as 1, 2, 3.</div>
  <div class="phones-row">
    <div class="phone-with-text">
      <img
        routerLink="/get-started"
        class="phone-image"
        src="/assets/iphone-1.png"
      />
      <div class="phone-text">Sign up through Trace!</div>
    </div>
    <div class="phone-with-text">
      <img
        routerLink="/get-started"
        class="phone-image"
        src="/assets/iphone-2.png"
      />
      <div class="phone-text">
        Flight deals, updated daily on your dashboard.
      </div>
    </div>
    <div class="phone-with-text">
      <img
        routerLink="/get-started"
        class="phone-image"
        src="/assets/iphone-3.png"
      />
      <div class="phone-text">
        Find your perfect flight through our AI Travel Tool
      </div>
    </div>
  </div>
</div>
