@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --blue: #3d9be9;
  --orange: #fa883c;
  --background-color: #f5fafe;
  --text-color: #041421;
  --orange-rgb: rgba(250, 136, 60, 0.1); /* Predefine RGBA */
  --form-input-background: #f1f3f5;
}

.body {
  background-color: var(--background-color);
  margin: 0px;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

a:active {
  opacity: 0.7;
}

.text-normal {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
}

.blue-button {
  background-color: var(--blue);
  color: white;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 100px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
  font-family: Outfit, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.blue-button:hover {
  opacity: 0.8;
}

.blue-button:disabled {
  opacity: 0.5;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.select {
  background-color: var(--form-input-background);
  border-radius: 8px;
  height: 40px;
  padding: 8px 28px 8px 12px; /* Add padding to the right for arrow spacing */
  border: 1px solid #ccc;
  width: 100%;
  /* appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath fill='%23000000' d='M0 0l5 6 5-6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 8px; */
}

.select:focus {
  outline: none; /* Remove default outline */
  border: 1px solid var(--blue) !important;
}

.blue-text {
  color: var(--blue);
}

.orange-text {
  color: var(--orange);
}

.weight-600 {
  font-weight: 600;
}

.login-signup-page-body {
  display: flex;
  padding-top: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-signup-page-inner-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-signup-page-logo {
  width: 150px;
  margin-bottom: 30px;
}

.login-signup-page-blue-header {
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  font-weight: 600;
}

.login-signup-page-subtitle {
  margin-top: 8px;
  font-size: 18px;
  text-align: center;
}

.login-signup-page-form {
  margin-top: 30px;
  width: 100%;
}

.form-field {
  background-color: var(--form-input-background);
  border-radius: 8px;
  height: 24px;
  font-family: Outfit, sans-serif;
  color: #333;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.form-label {
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: Outfit, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.form-error {
  color: red;
}

button {
  border: 0px;
}

.form-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
