@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --background-color: #f5fafe;
  --orange-10-perc-opacity: rgba(250, 136, 60, 0.1);
  --text-color-80-perc-opacity: rgba(4, 20, 33, 0.8);
  --background: #f5fafe;
  --text-color: #041421;
  --white: white;
  --orange: #fa883c;
  --light-blue: #6cb6ff;
  --darker-blue: #255b89;
  --light-orange: #fee6d6;
  --blue: #3d9be9;
  --darker-orange: #935023;
  --white-button-pressed: #bababa;
  --premium-purple: #844db3;
  --purple: #9c37b9;
  --red: red;
  --red-button-pressed: #b90202;
  --gold: #ffd464;
  --gold-orange: #f59b15;
  --light-gray: #c4c4c4;
  --very-light-blue: #ecf5fd;
  --success-story-1: #d94832;
  --success-story-2: #3d9be9;
  --success-story-3: #cf4768;
  --success-story-4: #1e7b6c;
  --success-story-1-background: #fbedeb;
  --success-story-2-background: #ecf5fd;
  --success-story-3-background: #faedf0;
  --success-story-4-background: #e9f2f0;
  --form-input-background: #f1f3f5;
  --member-nav-bar-bg: #03233e;
  --member-nav-bar-selected-bg: #032947;
  --member-nav-bar-off-text-color: #697f91;
  --stripe-background: #f4f6f8;
  --radio-not-selected-bg: #e0e3e6;
  --radio-button-grey: #998a80;
  --premium-blue: #4267b2;
  --wt-line-color: #e0e0e0;
  --green: #35a11d;
  --gray: #cad5dd;
  --light-gray-bg: #f6f7f9;
  --dark-green: #02a346;
  --white-2: white;
  --black: black;
  --premium-left-gradient: #dd9853;
  --premium-right-gradient: #fa8e3c;
}

.body {
  background-color: var(--background-color);
  margin: 0px;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

a:active {
  opacity: 0.7;
}

.text-normal {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
}

.blue-button {
  background-color: var(--blue);
  color: white;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 100px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
  font-family: Outfit, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.blue-button:hover {
  opacity: 0.8;
}

.blue-button:disabled {
  opacity: 0.5;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.select {
  background-color: var(--form-input-background);
  border-radius: 8px;
  height: 40px;
  padding: 8px 28px 8px 12px; /* Add padding to the right for arrow spacing */
  border: 1px solid #ccc;
  width: 100%;
  /* appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath fill='%23000000' d='M0 0l5 6 5-6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 8px; */
}

.select:focus {
  outline: none; /* Remove default outline */
  border: 1px solid var(--blue) !important;
}

.blue-text {
  color: var(--blue);
}

.orange-text {
  color: var(--orange);
}

.weight-600 {
  font-weight: 600;
}

.login-signup-page-body {
  display: flex;
  padding-top: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1000px;
}

.login-signup-page-inner-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-signup-page-logo {
  width: 150px;
  margin-bottom: 30px;
}

.login-signup-page-blue-header {
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  font-weight: 600;
}

.login-signup-page-subtitle {
  margin-top: 8px;
  font-size: 18px;
  text-align: center;
}

.login-signup-page-form {
  margin-top: 30px;
  width: 100%;
}

.form-field {
  background-color: var(--form-input-background);
  border-radius: 8px;
  height: 24px;
  font-family: Outfit, sans-serif;
  color: #333;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.form-label {
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: Outfit, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.form-error {
  color: red;
}

button {
  border: 0px;
}

.form-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.orange-button {
  background-color: var(--orange);
}

.blue-text-button {
  color: var(--blue);
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color-80-perc-opacity);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  width: 90%;
  margin-top: 60px;
  padding: 30px;
  border-radius: 16px;
  max-height: calc(100% - 120px);
  overflow-y: auto;
}

.member-page-body {
  display: flex;
}

.member-page-inner {
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
