<div class="footer-social-row">
  <a
    class="footer-social-link"
    target="_blank"
    href="https://www.instagram.com/go.trace/"
    ><img class="footer-social-image" src="/assets/insta-gray.svg"
  /></a>
  <a
    class="footer-social-link"
    target="_blank"
    href="https://www.facebook.com/Tracetravel"
    ><img class="footer-social-image" src="/assets/fb-gray.svg"
  /></a>
  <a
    class="footer-social-link"
    target="_blank"
    href="https://www.linkedin.com/company/trace-travel/posts/?feedView=all"
    ><img class="footer-social-image" src="/assets/linked-in-gray.svg"
  /></a>
  <a
    class="footer-social-link"
    target="_blank"
    href="mailto:contact@tracetravel.co"
    ><img class="footer-social-image" src="/assets/mail-gray.svg"
  /></a>
</div>
